div{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: width 2s, height 2s, tranform 2s;
}
div:hover{
    width: 500px;
    height: 400px;
    transform: rotate(180deg);
}