div{
    float: left;
    background-color: green;
    color: white;
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    margin: 10px;
}
div.tidak{
    transition: width 2s, height 2s, line-height 2s;
}
div.tidak:active{
    width: 500px;
    height: 1000px;
    line-height: 1000px;
}